<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>语文</string>
		<key>course</key>
		<string>戴中大</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>法学基础</string>
		<key>course</key>
		<string>刘德华</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电气工程原理</string>
		<key>course</key>
		<string>马山里</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>自动控制理论</string>
		<key>course</key>
		<string>国令一</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国文学史</string>
		<key>course</key>
		<string>马山里</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>地理概论</string>
		<key>course</key>
		<string>马山里</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>线性代数</string>
		<key>course</key>
		<string>戴中大</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>智能传感器</string>
		<key>course</key>
		<string>国令一</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
	<dict>
		<key>name</key>
		<string>美学原理</string>
		<key>course</key>
		<string>戴中大</string>
		<key>address</key>
		<string>1－16周周二3、4、5节中山院302</string>
	</dict>
</array>
</plist>
